body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#headerText {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
}
.img {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}

.container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#data {
  padding-bottom: 20px;
}
#world {
  position: relative;
  top: 46px;
  right: 30px;
}
